* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Furore';
  src: url(fonts/Furore.otf);
}

body {
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  background-color: #18234E;
  color: white;
}

header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #18234E;
}

nav {
  border: 0px solid red;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > a img {
  width: 100px;
  border-radius: 50%;
}

ul {
  display: flex;
  gap: 20px;
  transition: .5s;
}

li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: "Rubik", sans-serif;
}


label {
  display: none;
}

#burger-toggle {
  display: none;
}

@media (max-width: 784px) {
  label {
    position: relative;
    display: block;
    height: 25px;
    width: 30px;
  }

  label::after, label::before, label span {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    transition: .3s;
  }

  label::before {
    content: "";
    top: 0;
  }

  label::after {
    content: "";
    bottom: 0;
  }

  label span {
    top: 11px;
  }

  #burger-toggle:checked ~ label::after {
    transform: rotate(45deg);
    bottom: 10px;
  }

  #burger-toggle:checked ~ label::before {
    transform: rotate(-45deg);
    top: 12px;
  }

  #burger-toggle:checked ~ label span {
    transform: rotate(-45deg);
    top: 12px;
  }

  ul {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #2f79be;
    padding-top: 300px;
    z-index: -1;
    flex-direction: column;
    text-align: center;

    left: -100vw;
    right: 200vw;

  }

  #burger-toggle:checked ~ ul {
    left: 0;
    right: 0;
  }

  li a {
    font-size: 24px;
  }
}


.box{
  border: 0px solid red;
  width: 100%;
  height: 2000px;
}


.qwe{
  border: 0px solid red;
  width: 100%;
}


.full-katalog{
  border: 0px solid red;
  height: 2000px;
}


.txt{
  font-size: 60px;
  font-family: Unbounded, sans-serif;
}


.nazv{
  margin-top: 5%;
  text-align: center;
  border: 0px solid red;
}


@media (max-width: 968px) {
  .txt{
    font-size: 30px;
  }
}


@media (max-width: 568px) {
  .txt{
    font-size: 20px;
  }
}


.txt2{
  font-family:Furore, sans-serif ;
  font-size: 40px;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(to right, rgba(240, 255, 156, 1), rgba(4, 221, 112, 1));
}


.nazv2{
  margin-top: 6%;
  text-align: center;
  border: 0px solid red;
}


.viduhi{

}


.full-video {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 0px solid red;
  height: auto;
  margin-top: 3%;
  gap: 40px;
}


.video{
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 390px;
  height: 500px;
  border: 0px solid red;
  background: linear-gradient(rgba(111, 115, 195, 1), rgba(61, 137, 164, 1));
  border-radius: 40px;
}


.nazv3{
  border: 0px solid red;
  text-align: center;
  margin: 5% 6% 0px 6%;
}


.txt3{
  line-height: 22px;
  font-size: 16px;
  font-family: Unbounded, sans-serif;
}


.img-video{
  border: 0px solid red;
  margin-top: 7%;
  display: flex;
  justify-content: center;
}


.feature{
  border: 0px solid red;
  margin: 2% 20px 0px 20px;
  text-align: center;
  width: 80%;
}


.txt4{
  line-height: 30px;
  font-size: 16px;
  font-family: Unbounded, sans-serif;
}


.price{
  margin-top: 10%;
  text-align: center;
}


.txt5{
  font-size: 30px;
  font-family: Unbounded, sans-serif;
}


.knopka{
  margin-top: 8%;
  text-align: center;
  border: 0px solid red;
}


.bt:hover{
  border: 3px solid rgb(255, 145, 2);
}
  
  
  
.bt{
    width: 250px;
    height: 60px;
    background-color: #2D2D2D;
    border-radius: 10px;
    border: 0;
    color: white;
    font-family: Unbounded, sans-serif;
    font-size: 25px;
    cursor: pointer;
}


.vid{
  width: 75%;
}


@media (max-width: 419px) {
  .video{
    margin-left: 15px;
    margin-right: 15px;
  }
}